<div class="modal-header">
    <h4 class="modal-title pull-left">{{product.name}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body w-100">
    <div class="d-flex justify-content-center">
            <lib-ngx-image-zoom
                thumbImage={{product.pictureUrl}}
                zoomMode='click'
                magnification="2"
                >
            </lib-ngx-image-zoom>
    </div>
</div>
