<carousel>
    <slide>
        <img src="assets/images/legion1.jpg" alt="home slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/legion2.jpg" alt="home slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/legion3.jpg" alt="home slide" style="display: block; width: 100%">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to Legion!</h1>
    </div>
</section>