<div class="row">
    <table class="table">
        <tr>
            <th style="width: 20%;"></th>
            <th style="width: 35%;">Name</th>
            <th style="width: 15%;">Price</th>
            <th style="width: 15%;">Edit</th>
            <th style="width: 15%;">Delete</th>
        </tr>
        <tr *ngFor="let product of products">
            <td> <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-light"></td>
            <td>{{product.name}}</td>
            <td>{{product.price | currency}}</td>
            <td><button class="btn btn-info" (click)="openProductModal(product)">Edit Product</button></td>
            <td><button class="btn btn-info" (click)="deleteProduct(product)">Delete Product</button></td>
        </tr>
    </table>
</div>